html {
	height: 100%;
}
body {
	height: 100%;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#content-container {
    height: 100%;
    display: flex;
    align-items: center;
}
#content-container>div {
    margin: auto;
    width: 50%;
    padding: 80px;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    font-size: 20px;
    border: 4px #FF0 solid;
}

#options>div {
	cursor: pointer;
}

#word {
	padding: 30px;
	border: 8px #AFA solid;
	font-size: 40px;
}

#options {
	padding: 30px;
}

#options span {
	margin: 2px;
	padding: 6px;
	cursor: pointer;
	border: 2px solid grey;
}
#options_sec {
	padding: 30px;
}


#options_sec span {
	margin: 2px;
	padding: 6px;
	cursor: pointer;
	border: 2px solid grey;
}